@media screen and (max-width: 1350px){
    .logoIC{
        width: 152px;
        height: 32;
        margin-left: 42px;
    }
    .buscador{
        width: 500px;
        height: 40px;
        border: 1px solid #4B4B4B;
        border-radius: 20px;
        margin-left: 40px;
        align-content: center;
        padding-left: 12px;
        padding-right: 10px;
    }
    .gurardados{
        margin-left: 170px;
    }
}
@media screen and (max-width: 1250px){
    .logoIC{
        width: 152px;
        height: 32;
        margin-left: 37px;
    }
    .buscador{
        width: 470px;
        height: 40px;
        border: 1px solid #4B4B4B;
        border-radius: 20px;
        margin-left: 35px;
        align-content: center;
        padding-left: 12px;
        padding-right: 10px;
    }
    .gurardados{
        margin-left: 140px;
    }
}
@media screen and (max-width: 1160px){
    .logoIC{
        width: 152px;
        height: 32;
        margin-left: 33px;
    }
    .buscador{
        width: 440px;
        height: 40px;
        border: 1px solid #4B4B4B;
        border-radius: 20px;
        margin-left: 30px;
        align-content: center;
        padding-left: 12px;
        padding-right: 10px;
    }
    .gurardados{
        margin-left: 120px;
    }
}
@media screen and (max-width: 1100px){
    .logoIC{
        width: 152px;
        height: 32;
        margin-left: 28px;
    }
    .buscador{
        width: 420px;
        height: 40px;
        border: 1px solid #4B4B4B;
        border-radius: 20px;
        margin-left: 25px;
        align-content: center;
        padding-left: 12px;
        padding-right: 10px;
    }
    .gurardados{
        margin-left: 90px;
    }
}
@media screen and (max-width: 1100px){
    .logoIC{
        width: 152px;
        height: 32;
        margin-left: 23px;
    }
    .buscador{
        width: 400px;
        height: 40px;
        border: 1px solid #4B4B4B;
        border-radius: 20px;
        margin-left: 20px;
        align-content: center;
        padding-left: 12px;
        padding-right: 10px;
    }
    .gurardados{
        margin-left: 75px;
    }
}
@media screen and (max-width: 990px){
    
    .buscador{
        width: 70vw;
        height: 40px;
        border: 1px solid #4B4B4B;
        border-radius: 20px;
        margin-left: 25px;
        align-content: center;
        padding-left: 12px;
        padding-right: 10px;
    }
    .filtro{
        margin-top: 25px;
        margin-left: 25px;
        font-size: 20px;
    }
    .gurardados{
        margin-top: 15px;
        margin-left: 25px;
        font-size: 20px;
    }
    .main-resulatdo{
        display: grid;
        grid-template-columns: 100%;
    }
    .relatoria{
        display: none;
    }
}
/* contenedores Jhovanny */
@media all and (max-width: 991px) { 

    .tarjeta-alfredo-alvares {
        text-align: start;
        border-radius: 15px;
        background-color: white;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
    
        margin-left: 30px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .tarjeta-alfredo-alvares h4 {
        padding-top: 20px;
        padding-bottom: 5px;
        color: #004884;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    
    }
    
    .contenedor-informacion {
        display: flex;
        justify-content: initial;
        flex-direction:initial;
    
    
    }
    
    .titulo {
        color: rgba(0, 72, 132, 1);
        font-size: 14px;
        font-family: 'Work sans', sans-serif;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    
    .contenido {
        color:rgba(75, 75, 75, 1);
        font-size: 14px;
        font-family: 'Work sans', sans-serif;
        padding-bottom: 10px;
        padding-left: 10px;
    
    }
    
    .titulo-contenido-2 {
        padding-left: 70px;
    }
    
    .alfredo-circulo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
    
    .alfredo-circulo p {
        font-size: 14px;
        font-family: 'Work sans', sans-serif;
        color:rgba(75, 75, 75, 1);
    }
    
    .imagen-texto {
        text-align: center;
    }
 }
/*last card Erika*/
@media all and (max-width: 991px) { 
    .last-card {
        text-align: start;
        border-radius: 15px;
        background-color: white;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;    
        margin-left: 30px;
        margin-right: 20px;
        margin-top: 20px;
    }
    .last-card h4 {
        padding-top: 20px;
        padding-bottom: 5px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #004884;
    
    }    
    .card-info {
        display: flex;
        justify-content: initial;
        flex-direction:initial; 
    }    
    .title{
        font-size: 14px;
        font-family: 'Work sans', sans-serif;
        padding-bottom: 10px;
        padding-left: 10px;
        color: #004884;
    }    
    .info {
        font-size: 14px;
        font-family: 'Work sans', sans-serif;
        padding-bottom: 10px;
        padding-left: 10px;
        color: #4B4B4B;
    
    }    
    .rows-one {
        padding-left: 70px;
    }    
    .icon-circle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;    
    }    
    .icon-circle p {
        font-size: 14px;
        font-family: 'Work sans', sans-serif;
        color:#4B4B4B;
    }    
    .icon-save {
        height: 85px;
        width: 40px;
        display: flex;
        padding-left: 20px;
        flex-direction: column;
        justify-content: space-around;    
    }    
    .icon-save p {
        font-size: 14px;
        font-family: 'Work sans', sans-serif;
        padding-left: 0px;
        padding-right: 20px;
        color:#3366CC;
    }
    
    
 }

