*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 280px;
}
/* estilos navbar*/
.navbar{
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    background: #3366CC;
    padding-left: 22px;
    padding-right: 22px;
}
.logoGov{
    width: 64px;
    height: 20px;
    margin-top: 10px;
}
.Gov-co{
    height: 20px;
    margin-right: 22px;
    margin-top: 10px;
    float: left;
    text-decoration: none;
    color: white;
}

.main-index{
    padding-left: 312px;
    padding-right: 312px;
    padding-top: 112px;
    padding-bottom: 412px;
}
.navbar-resultados{
    width: 100%;
    display: flex;
    align-content: center;
    padding-left: 5.8%;
    padding-right: 1.3%;
    padding-top: 12px;
    padding-bottom: 12px;

}
#hr-main{
    background-color: #CCCCCC;
}
.logoIC{
    width: 152px;
    height: 32px;
    margin-right: 5.9%;
    margin-top: 4px;
    margin-bottom: 4px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    width: 40%;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    padding: 8px;
    margin-right: 3.6%;
}
.buscar{
    width: 14px;
    height: 14px;
    margin-left: 1.8%;
    margin-top: 5px;
    margin-right: 1.8%;
}
.input{
    width: 40%;
    margin-right: 2.6%;
    border: none;
}
.cerrar{
    width: 14px;
    height: 14px;
    margin-top: 5px;
    margin-right: 1%;
}
.filtros{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #3366CC;
    margin-top: 12px;
}
.img-filtro{
    width: 9px;
    height: 5.5px;
    margin-top: 21.22px;
    margin-left: 1%;
}
.guardado{
    width: 14;
    height: 18;
    margin-left: 15%;
    margin-top: 11px;
    margin-bottom: 11px;     
}
.text-guardado{
    margin-left: 1.4%;
    margin-top: 8px;
    margin-top: 8px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.main-resulatdo{
    display: grid;
    grid-template-columns: 70% 30%;
}