@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 280px;
}
/* estilos navbar*/
.navbar{
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    background: #3366CC;
    padding-left: 22px;
    padding-right: 22px;
}
.logoGov{
    width: 64px;
    height: 20px;
    margin-top: 10px;
}
.Gov-co{
    height: 20px;
    margin-right: 22px;
    margin-top: 10px;
    float: left;
    text-decoration: none;
    color: white;
}

.main-index{
    padding-left: 312px;
    padding-right: 312px;
    padding-top: 112px;
    padding-bottom: 412px;
}
.navbar-resultados{
    width: 100%;
    display: flex;
    padding-left: 74px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;

}
#hr-main{
    background-color: #CCCCCC;
}
.main-resulatdo{
    display: grid;
    grid-template-columns: 70% 30%;
      
}

/* pantalla 320

.tarjeta-alfredo-alvares {
    text-align: center;
    border-radius: 20px;
    background-color: white;

    padding: 10px 20px;
}

.tarjeta-alfredo-alvares h4 {
    padding-top: 20px;
    padding-bottom: 15px;
    color: #004884;
    font-weight: 600;
    font-family: monospace;
    font-size: 20px;

}

.titulo {
    color: #004884;
    font-family: work sans, Sans;
    font-size: 14px;
}*/

.tarjeta-alfredo-alvares {
    text-align: start;
    border-radius: 20px;
    background-color: white;
    padding: 10px 20px;
    display: flex;
}

.tarjeta-alfredo-alvares h4 {
    padding-top: 20px;
    padding-bottom: 15px;
    color: #004884;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

}

.contenedor-informacion {
    display: flex;

}

.titulo {
    color: rgba(0, 72, 132, 1);
    font-size: 14px;
    font-family: 'Work sans', sans-serif;
}

.contenido {
    color:rgba(75, 75, 75, 1);
    font-size: 14px;
    font-family: 'Work sans', sans-serif;

}
.columnas-resultados {
    display: flex;
    justify-content: start;
    flex-direction: column;
}
